<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>HELLO WORLD</h1>
    <form action="/" method="post">
        {% csrf_token %}
        <span style="display: none;"><input type="text" name="myID" value={{formData.0}} ></span>
        <label for="">NAME</label><input type="text" name="nameText" value="{{formData.1}}"><br>
        <label for="">AGE</label><input type="number" name="age" value={{formData.2}}><br>
        <label for="">DESCRIPTION</label><textarea rows="4" cols="20" type="textarea" name="description">{{formData.3}}</textarea>
        <br><br>
        <input type="submit" value="ADD" name="addData">
    </form>
    <h2>ALL DATA</h2>
    {% for myData in data %}
    <p>{{myData.name}} HAVE AGE {{myData.age}}
    <form action="/" method="post">
        {% csrf_token %}
        <button name="updateData" value={{myData.id}} type="submit"
            style="color: white;background-color: blue;">UPDATE</button>
        <button name="deleteData" value={{myData.id}} type="submit"
            style="color: white;background-color: red;">DELETE</button>
    </form>
    </p>
    {% endfor %}

</body>

</html>